<script>
    var host=getContextPath();
    $.get("getAddGroupid",function (json) {
        $("#groupid").val(json);
    });

    /*课程下拉*/
    $.ajax({
        url:host+'/course/getList',
        dataType:'json',
        async:false,
        success:function(data){
            $("#selectCourse").empty();
            $("#selectCourse").append("<option>---请选择---</option>");
            var opt="";
            $.each(data,function(i,o){

                opt+= "<option value=\'"+ o.couid +"\'>" + o.couName + "</option>";

            });
            $("#selectCourse").append(opt);
            $("#selectCourse").selectpicker('refresh');//动态加载
        },error:function(){
        }
    });

    function doAdd(){
        var groupid=$("#groupid").val();
        var arr=$("#selectCourse").val();
        console.log(arr);
        $.ajax({
            url:host+'/group/addCourse',
            data:{
                groupid:groupid,
                ids:arr
            },
            success:function(data){
                if(data){
                    BJUI.dialog('close', 'addCourseToGroup');
                    return true;
                }
            }
        });
    }
</script>
<div class="bjui-pageContent">
    <div class="bjui-row col-1">
        <label class="row-label"></label>
        <div class="row-input">
            <input type="hidden" id="groupid">
        </div>
        <label class="row-label">课程</label>
        <div class="row-input">
            <select class="selectpicker" id="selectCourse"  multiple="">
                <option>---请选择---</option>
            </select>
        </div>
    </div>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
        <li><button type="button" class="btn-default" onclick="doAdd();" data-icon="save">保存</button></li>
    </ul>
</div>