<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>消失在宇宙星空中的404页面</title>
<link href="css/jq22.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 代码 开始 -->
<div class="fullScreen" id="fullScreen">
    <a href="#" class="logo"><img src="images/homepage-logo.png"></a>
    <img class="rotating" src="images/spaceman.svg" />
    <div class="pagenotfound-text">
    <h1>找不到页面</h1>
    <h2><a href="#">回到登录页面</a></h2>
    </div>
    <canvas id="canvas2d"></canvas>
</div>
<script type="text/javascript" src="js/jq22.js"></script>
<!-- 代码 结束 -->

</body>
</html>