<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teachereval.dao.TblCompetenceMapper">
  <resultMap id="BaseResultMap" type="com.example.teachereval.pojo.TblCompetence">
    <id column="roleid" jdbcType="INTEGER" property="roleid" />
    <id column="menid" jdbcType="INTEGER" property="menid" />
    <result column="number" jdbcType="INTEGER" property="number" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    roleid, menid, number
  </sql>
  <select id="selectByExample" parameterType="com.example.teachereval.pojo.TblCompetenceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tel_competence
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.example.teachereval.pojo.TblCompetenceKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tel_competence
    where roleid = #{roleid,jdbcType=INTEGER}
      and menid = #{menid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.teachereval.pojo.TblCompetenceKey">
    delete from tel_competence
    where roleid = #{roleid,jdbcType=INTEGER}
      and menid = #{menid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.teachereval.pojo.TblCompetence">
    insert into tel_competence (roleid, menid, number
      )
    values (#{roleid,jdbcType=INTEGER}, #{menid,jdbcType=INTEGER}, #{number,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.teachereval.pojo.TblCompetence">
    insert into tel_competence
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleid != null">
        roleid,
      </if>
      <if test="menid != null">
        menid,
      </if>
      <if test="number != null">
        number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleid != null">
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="menid != null">
        #{menid,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.teachereval.pojo.TblCompetenceExample" resultType="java.lang.Integer">
    select count(*) from tel_competence
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.teachereval.pojo.TblCompetence">
    update tel_competence
    <set>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
    </set>
    where roleid = #{roleid,jdbcType=INTEGER}
      and menid = #{menid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.teachereval.pojo.TblCompetence">
    update tel_competence
    set number = #{number,jdbcType=INTEGER}
    where roleid = #{roleid,jdbcType=INTEGER}
      and menid = #{menid,jdbcType=INTEGER}
  </update>
</mapper>