<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teachereval.dao.TblTeacherInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.teachereval.pojo.TblTeacherInfo">
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="PASSWORD" />
    <result column="couid" jdbcType="INTEGER" property="couid" />
    <result column="groupid" jdbcType="INTEGER" property="groupid" />
    <result column="couName" jdbcType="VARCHAR" property="couName" />
    <result column="couSem" jdbcType="VARCHAR" property="couSem" />
    <result column="claid" jdbcType="INTEGER" property="claid" />
    <result column="claName" jdbcType="VARCHAR" property="claName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    userid, username, PASSWORD, couid, groupid, couName, couSem, claid, claName
  </sql>
  <select id="selectByExample" parameterType="com.example.teachereval.pojo.TblTeacherInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from teacherinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="com.example.teachereval.pojo.TblTeacherInfo">
    insert into teacherinfo (userid, username, PASSWORD, 
      couid, groupid, couName, 
      couSem, claid, claName
      )
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{PASSWORD,jdbcType=VARCHAR}, 
      #{couid,jdbcType=INTEGER}, #{groupid,jdbcType=INTEGER}, #{couName,jdbcType=VARCHAR}, 
      #{couSem,jdbcType=VARCHAR}, #{claid,jdbcType=INTEGER}, #{claName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.teachereval.pojo.TblTeacherInfo">
    insert into teacherinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="PASSWORD != null">
        PASSWORD,
      </if>
      <if test="couid != null">
        couid,
      </if>
      <if test="groupid != null">
        groupid,
      </if>
      <if test="couName != null">
        couName,
      </if>
      <if test="couSem != null">
        couSem,
      </if>
      <if test="claid != null">
        claid,
      </if>
      <if test="claName != null">
        claName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="PASSWORD != null">
        #{PASSWORD,jdbcType=VARCHAR},
      </if>
      <if test="couid != null">
        #{couid,jdbcType=INTEGER},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="couName != null">
        #{couName,jdbcType=VARCHAR},
      </if>
      <if test="couSem != null">
        #{couSem,jdbcType=VARCHAR},
      </if>
      <if test="claid != null">
        #{claid,jdbcType=INTEGER},
      </if>
      <if test="claName != null">
        #{claName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.teachereval.pojo.TblTeacherInfoExample" resultType="java.lang.Integer">
    select count(*) from teacherinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>