<script type="text/javascript">
    var host=getContextPath();
    $('#course_datagrid').datagrid({
        height: '100%',
        gridTitle : '课程信息管理',
        showToolbar: true,
        toolbarItem: 'all',
        local: 'local',
        dataUrl: host+'/course/getList',
        columns: [
            {
                name: 'couid',
                label: '课程id',
                align: 'center',
                width: 70
            },
            {
                name: 'couName',
                label: '课程名称',
                align: 'center',
                width:300
            },
            {
                name: 'couSem',
                label: '所属学期',
                align: 'center',
                width:300
            }
        ],
        editUrl: host+'/course/editUser',
        paging: {pageSize:50, pageCurrent:10},
        linenumberAll: true,
        /*tableWidth:'100%',*/
        noremove: false,
        delUrl: host+'/course/delete',
        delPK:'couid',
        delConfirm:'是否删除该用户？'
    })
</script>
<div class="bjui-pageHeader" style="background-color:#fff; border-bottom:none;">
    <div class="bs-callout bs-callout-warning">
        <h4>课程信息</h4>
        <p>满屏的用户信息。</p>
    </div>
</div>
<div class="bjui-pageContent">
    <table id="course_datagrid" class="table table-bordered">
    </table>
</div>