<script type="text/javascript">
    var host=getContextPath();
    $('#group_datagrid').datagrid({
        height: '100%',
        gridTitle : '批次管理',
        showToolbar: true,
        toolbarItem: 'all',
        local: 'local',
        dataUrl: host+'/group/getList',
        columns: [
            {
                name: 'groupid',
                label: '批次id',
                align: 'center',
                width: 70
            },
            {
                name: 'beginTime',
                label: '开始时间',
                align: 'center',
                type:'date',
                pattern:'yyyy-MM-dd',
                width:200,
                render:function(value){
                    return value?value.substr(0,16):value}
            },
            {
                name: 'endTime',
                label: '结束时间',
                align: 'center',
                type:'date',
                pattern:'yyyy-MM-dd',
                width:200,
                render:function(value){
                    return value?value.substr(0,16):value}
            },
            {
                name:'操作',
                render:function (value, data) {
                    var html="";
                    html += '<button type="button" class="btn-blue" ' +
                        'data-icon="pencil-square-o" onclick="doAddCourseToGroup('
                        + data.bjui_local_index + ')">设置参与评价课程</button>';
                    return html;
                }
            }
        ],
        editUrl: host+'/group/editGroup',
        addLocation:'last',
        paging: {pageSize:50, pageCurrent:10},
        linenumberAll: true,
        /*tableWidth:'100%',*/
        noremove: false,
        delUrl: host+'/group/delete',
        delPK:'groupid',
        delConfirm:'是否删除该用户？'
    });

    function doAddCourseToGroup(data) {
        $('#group_datagrid').datagrid('selectedRows',data,true);
        var data=$('#group_datagrid').data('selectedDatas');
        BJUI.dialog({
            id:'addCourseToGroup',
            url:host+'/AddCourseToGroup?groupid='+data[0].groupid,
            title:data[0].beginTime+'-'+data[0].endTime+'批次设置评教课程'
        })
    }
</script>
<div class="bjui-pageHeader" style="background-color:#fff; border-bottom:none;">
    <div class="bs-callout bs-callout-warning">
        <h4>用户信息</h4>
        <p>满屏的用户信息。</p>
    </div>
</div>
<div class="bjui-pageContent">
    <table id="group_datagrid" class="table table-bordered">
    </table>
</div>