<script type="text/javascript">
    var host=getContextPath();
    $('#role_datagrid').datagrid({
        height: '100%',
        gridTitle : '角色信息管理',
        showToolbar: true,
        toolbarItem: 'all',
        local: 'local',
        dataUrl: host+'/role/getList',
        columns: [
            {
                name: 'roleid',
                label: '角色id',
                align: 'center',
                width: 70
            },
            {
                name: 'roleName',
                label: '角色名',
                align: 'center',
                width:300
            },
            {
                name: 'roleDes',
                label: '角色描述',
                align: 'center',
                width:300
            }
        ],
        editUrl: host+'/role/editUser',
        paging: {pageSize:50, pageCurrent:10},
        linenumberAll: true,
        /*tableWidth:'100%',*/
        noremove: false,
        delUrl: host+'/role/delete',
        delPK:'roleid',
        delConfirm:'是否删除该角色？'
    })
</script>
<div class="bjui-pageHeader" style="background-color:#fff; border-bottom:none;">
    <div class="bs-callout bs-callout-warning">
        <h4>角色信息</h4>
        <p>满屏的角色信息，通过JS API调用。数据文件位置：
            <code>/json/datagrid/datagrid.json</code> 。
            <a href="html/datagrid/datagrid-source.html"
               data-toggle="dialog"
               data-options="{id:'dialog-datagrid-source-js',
                width:1000, height:600, title:'查看Datagrid示例 - JS API - 源码'}">点击查看json格式。</a></p>
    </div>
</div>
<div class="bjui-pageContent">
    <table id="role_datagrid" class="table table-bordered">
    </table>
</div>