<script type="text/javascript">
    var host=getContextPath();
    function dialog_role(data) {
        $('#role_datagrid').datagrid('selectedRows',data,true);
        var roleid=$("#role_datagrid").data('selectedDatas')[0].roleid;
        var roleName=$("#role_datagrid").data('selectedDatas')[0].roleName;
        BJUI.dialog({
            id:'test_dialog4',
            url:host+'/roleMenu',
            title:'设置功能'
        })
    }
    function docheck(event, treeId, treeNode) {
        console.log("OK");
        var treeObj=$.fn.zTree.getZTreeObj("ztree-Menu"),
            nodes=treeObj.getCheckedNodes(true),
            v="";
        for(var i=0;i<nodes.length;i++) {
            v += nodes[i].name + ",";
        }
        console.log(nodes[i].id);
        return
    }
    $('#role_datagrid').datagrid({
        height: '100%',
        gridTitle : '角色信息管理',
        showToolbar: true,
        toolbarItem: 'all',
        local: 'local',
        dataUrl: host+'/role/getList',
        columns: [
            {
                name: 'roleid',
                label: '角色id',
                align: 'center',
                width: 70,
                hide:true
            },
            {
                name: 'roleName',
                label: '角色名',
                align: 'center',
                width:300
            },
            {
                name: 'roleDes',
                label: '角色描述',
                align: 'center',
                width:300
            },
            {
                label:'操作',
                render:function(value,data){
                    var html = '<button type="button" class="btn-green" data-toggle="edit.datagrid.tr">编辑</button>'
                        + '<button type="button" class="btn-red" data-toggle="del.datagrid.tr">删除</button>'
                        +'<button type="button" class="btn-blue" ' +
                        'onclick="dialog_role('+data.bjui_local_index+');">赋予权限</button>';
                    return html;
                }
            }
        ],
        editUrl: host+'/role/editRole',
        addLocation:'last',
        paging: {pageSize:50, pageCurrent:10},
        linenumberAll: true,
        /*tableWidth:'100%',*/
        noremove: false,
        delUrl: host+'/role/delete',
        delPK:'roleid',
        delConfirm:'是否删除该角色？'
    })
</script>
<div class="bjui-pageHeader" style="background-color:#fff; border-bottom:none;">
    <div class="bs-callout bs-callout-warning">
        <h4>角色信息</h4>
        <p>满屏的角色信息。</p>
    </div>
</div>
<div class="bjui-pageContent">
    <table id="role_datagrid" class="table table-bordered">
    </table>
</div>