<script type="text/javascript">
    var host=getContextPath();
    function datagrid_tree_operation() {
        var html = '<button type="button" class="btn-green" data-toggle="edit.datagrid.tr">编辑</button>'
            + '<button type="button" class="btn-red" data-toggle="del.datagrid.tr">删除</button>'
            +'<button type="button" class="btn-blue" onclick="dialog_role();">赋予权限</button>'
        return html
    }
    function dialog_role() {
        var roleid=$("#role_datagrid").data('selectedDatas')[0].roleid;
        var roleName=$("#role_datagrid").data('selectedDatas')[0].roleName;
        var ztree="";
        $.ajax({
            url:host+'/role/getAllMenu',
            async:false,
            success:function (json) {
                var a=JSON.stringify(json);
                ztree+="<div class=\"bjui-pageContent\">" +
                    "<ul id=\'ztree-Menu\' class=\'ztree\' data-toggle=\'ztree\' " +
                    "data-nodes=\'"+a+"\' data-check-enable=\'true\'></ul></div>\n"+
                    "<div class=\"bjui-pageFooter\"><ul>\n" +
                    "<li><button type=\"button\" onclick=\"saveFun();\" class=\"btn-blue\" data-icon=\"hand-o-right \">确定</button></li>\n"+
                    "    </ul></div>\n";

            }
        });
        console.log(ztree);
        BJUI.dialog({
            id:'test_dialog4',
            html:ztree,
            title:'设置功能'
        })
    }
    function saveFun() {
    }
    $('#role_datagrid').datagrid({
        height: '100%',
        gridTitle : '角色信息管理',
        showToolbar: true,
        toolbarItem: 'all',
        local: 'local',
        dataUrl: host+'/role/getList',
        columns: [
            {
                name: 'roleid',
                label: '角色id',
                align: 'center',
                width: 70
            },
            {
                name: 'roleName',
                label: '角色名',
                align: 'center',
                width:300
            },
            {
                name: 'roleDes',
                label: '角色描述',
                align: 'center',
                width:300
            },
            {
                label:'操作',
                render:datagrid_tree_operation
            }
        ],
        editUrl: host+'/role/editUser',
        paging: {pageSize:50, pageCurrent:10},
        linenumberAll: true,
        /*tableWidth:'100%',*/
        noremove: false,
        delUrl: host+'/role/delete',
        delPK:'roleid',
        delConfirm:'是否删除该角色？'
    })
</script>
<div class="bjui-pageHeader" style="background-color:#fff; border-bottom:none;">
    <div class="bs-callout bs-callout-warning">
        <h4>角色信息</h4>
        <p>满屏的角色信息，通过JS API调用。数据文件位置：
            <code>/json/datagrid/datagrid.json</code> 。
            <a href="html/datagrid/datagrid-source.html"
               data-toggle="dialog"
               data-options="{id:'dialog-datagrid-source-js',
                width:1000, height:600, title:'查看Datagrid示例 - JS API - 源码'}">点击查看json格式。</a></p>
    </div>
</div>
<div class="bjui-pageContent">
    <table id="role_datagrid" class="table table-bordered">
    </table>
</div>