<script type="text/javascript">
    var host=getContextPath();
    $('#score_datagrid').datagrid({
        height: '100%',
        gridTitle : '查看成绩信息',
        showToolbar: true,
        local: 'local',
        dataUrl: host+'/score/getList',
        columns: [
            {
                name: 'scoid',
                label: '分数id',
                align: 'center',
                width: 70,
                hide:true
            },
            {
                name: 'username',
                label: '用户名',
                align: 'center',
                width:300
            },
            {
                name: 'userid',
                label: '用户id',
                align: 'center',
                width:300,
                hide:true
            },
            {
                name: 'claName',
                label: '班级',
                align: 'center',
                width:80
            },
            {
                name: 'claid',
                label: '班级id',
                align: 'center',
                width:80,
                hide:true
            },
            {
                name: 'couName',
                label: '课程名称',
                align: 'center',
                width:80
            },
            {
                name: 'Score',
                label: '分数',
                align: 'center',
                width:80
            }
        ],

        paging: {pageSize:50, pageCurrent:10},
        linenumberAll: true,
        /*tableWidth:'100%',*/
        noremove: false

    })
</script>
<div class="bjui-pageHeader" style="background-color:#fff; border-bottom:none;">
    <div class="bs-callout bs-callout-warning">
        <h4>查看得分情况</h4>
        <p>该批次中各教师的得分情况如下。</p>
    </div>
</div>
<div class="bjui-pageContent">
    <table id="score_datagrid" class="table table-bordered">
    </table>
</div>