<script type="text/javascript">
    var host=getContextPath();
    $('#j_datagrid').datagrid({
        height: '100%',
        gridTitle : '用户信息管理',
        showToolbar: true,
        toolbarItem: 'all',
        local: 'local',
        dataUrl: host+'/user/getList',
        columns: [
            {
                name: 'userid',
                label: '用户id',
                align: 'center',
                width: 70
            },
            {
                name: 'username',
                label: '用户名',
                align: 'center',
            },
            {
                name: 'roleName',
                label: '所属角色',
                align: 'center',
            },
            {
                name: 'roleDes',
                label: '描述',
                align: 'center',
            }
        ],
        editUrl: host+'/user/editUser',

        paging: {pageSize:50, pageCurrent:10},
        linenumberAll: true,
        tableWidth:'100%',
        noremove: false,
        delUrl: host+'/user/editUser',
        delPK:'userid',
        delConfirm:'是否删除该用户？'
    })
</script>
<div class="bjui-pageHeader" style="background-color:#fff; border-bottom:none;">
    <div class="bs-callout bs-callout-warning">
        <h4>Datagrid - JS API 示例说明</h4>
        <p>这是一个满屏的datagrid示例，通过JS API调用。数据文件位置： <code>/json/datagrid/datagrid.json</code> 。<a href="html/datagrid/datagrid-source.html" data-toggle="dialog" data-options="{id:'dialog-datagrid-source-js', width:1000, height:600, title:'查看Datagrid示例 - JS API - 源码'}">点击查看示例源码</a></p>
    </div>
</div>
<div class="bjui-pageContent">
    <table id="j_datagrid" class="table table-bordered">
    </table>
</div>